.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    width: 50%;
    height: 25px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    width: 16px;
    height: 16px;
    margin-left: -20px;
    cursor: pointer;
}