.film-item{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
    position: relative;
    color: black;
}

.film-poster{
    width: 200px;
}

.film-title{
    font-size: 22px;
}

.film-favorite-button{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.favorite-icon{
    width: 25px;
    height: 25px;
}